<div class="edit-task-form">
    <h2>Editar Tarea</h2>
    
    <form (ngSubmit)="updateTask()">
      <div class="form-group">
        <label for="title">Título de la Tarea:</label>
        <input type="text" id="title" [(ngModel)]="task.title" name="title" required>
      </div>
  
      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" [(ngModel)]="task.description" name="description" required></textarea>
      </div>
  
      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
  